body{
    font-family: sans-serif;
    margin: 0 50px;
    background-color: bisque;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app{
    background-color:beige;
    overflow-y: auto;
    width: 300px;
    height: 500px;
    border: 5px solid burlywood;
    border-radius: 8px;
    padding: 15px;
}
#addNew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.fa-plus{
    background-color: burlywood;
    padding: 3px;
    border-radius: 3px;
}
#msg{
    color: red;
}

#tasks{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div{
    border: 3px solid burlywood;
    background-color: antiquewhite;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}
#tasks div .options{
    justify-self: center;
    display: flex;
    gap: 20px;
}
#tasks div .options i{
    cursor: pointer;
}
.app::-webkit-scrollbar{
    width: 15px;
}
.app::-webkit-scrollbar-track{
    background-color: beige;
}
.app::-webkit-scrollbar-thumb{
    background-color: burlywood;
    border-radius: 5px;
    border: 3px solid antiquewhite;
}
.app::-webkit-scrollbar-thumb:hover{
    background-color: rgb(217, 166, 99);
}